.main_content {
  display: flex;
  justify-content: flex-start;
  padding: 4%;
  background: rgb(55, 68, 29);
  color: wheat;
  overflow-x: hidden;
}

li.menu_bullet_one {
  list-style: none;
  background: rgb(43, 53, 25);
  margin-top: 26%;
  padding: 2%;
  color: wheat;
}

li.menu_bullet_one a {
  color: wheat;
  text-decoration: none;
}

ul.menu_bullet {
  background: rgb(42, 77, 73);
  padding: 3%;
  width: 6rem;
  height: 30rem;
}
.flex_item_content {
  padding: 3%;
}

.flex_item_footer {
  background: black;
  color: wheat;
  height: 30vh;
}

.main_content_two {
  margin-top: 5%;
  background: rgb(18, 53, 49);
  color: white;
}

nav.sc-gtsrHT.navbar.fixed-top.nav-secondary.is-dark.is-light-text {
  display: flex;
  width: 70rem;
  margin-top: -5%;
  justify-content: space-between;
  background: tomato;
}

.flex_item_content-1 {
  display: flex;
  justify-content: space-evenly;
}

.sc-bdnxRM.col-lg-3.col-sm-6.is-light-text.mb-4 {
  background: rgb(44, 33, 31);
  padding: 4%;
  color: #fff;
  margin-top: 3%;
  height: 7vh;
}

.sc-bdnxRM.col-md-4.col-lg-3.is-light-text.mb-4 {
  background: rgb(44, 33, 31);
  padding: 4%;
  margin-top: 3%;
  height: 7vh;
}

.sc-bdnxRM.row {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

.flex_item_content-3 {
  display: flex;
  justify-content: space-between;
}
